@import '@/styles/variables.scss';

.wrapper {
	position: relative;

	height: min-content;
	margin-bottom: 125px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;

	@media screen and (min-width: $tableUpper) {
		margin-bottom: 0;
	}
}

.header {
	display: flex;
}

.x {
	width: 50px;
	height: 50px;

	background-color: transparent;
}

.container {
	& > *:first-child {
		border-top: 1px solid var(--borderColor);
	}
	& > * {
		border: none;
		border-bottom: 1px solid var(--borderColor);
	}
}

.close {
	max-width: 200px;

	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
}

.title {
	width: 100%;

	margin-top: auto;
	margin-bottom: auto;

	text-align: center;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 5.5px;
	text-transform: uppercase;
}

.footer {
	width: calc(100% - 40px);
	gap: 50px;

	@media screen and (max-width: $tableLesser) {
		position: fixed;
		bottom: 0;
	}

	@media screen and (min-width: $tableUpper) {
		inset: unset;
		position: unset;

		width: inherit;
	}
}

.secondaryBottom {
	color: inherit;
	background: var(--gray-0);
	border: 1px solid var(--accent);
}

.primaryBottom {
	& > * {
		width: 100%;
	}
}

.link {
	pointer-events: none;
}
