.container {
	margin-top: var(--headerHeight);
	color: var(--contrastText);
	background: #000;
}
.item {
	height: 50px;
	border-bottom: var(--gray-6) solid 2px;

	text-align: center;

	text &:first-child {
		border-top: var(--gray-6) solid 2px;
	}
	& a {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 100%;

		color: var(--contrastText);
	}
}
