@import '../../../styles/variables.scss';

.secondary {
	background: var(--secondary);
}
.error {
	background: var(--error);
}
.request {
	background: var(--request);
}
.success {
	background: var(--success);
}
.disabled {
	background: var(--gray-4);
}

.content {
	display: flex;
	align-items: center;

	& > *:not(:first-child) {
		margin-left: 10px;
	}
}

.hiddenContent {
	color: transparent;
	visibility: hidden;
}

.hiddenIcon {
	display: none;
	visibility: hidden;
}

.loadingIcon {
	position: absolute;

	display: block;
	visibility: visible;
}
