@import '~react-image-gallery/styles/css/image-gallery.css';

:root {
	--accent: var(--mui-palette-primary-main, #6458b7);
	--secondary: var(--mui-palette-primary-secondary, #088e7d);

	--error: var(--mui-palette-primary-error, #c13c1b);
	--request: var(--mui-palette-primary-light, #6458b7);
	--success: var(--mui-palette-primary-success, #16671b);

	--contrastText: var(--mui-palette-primary-contrastText, #fff);
	--borderColor: var(--mui-palette-divider, #dadada);
	--layoutBackground: rgb(45, 45, 45);

	--gray-0: var(--mui-palette-primary-gray50, #fafafa);
	--gray-1: var(--mui-palette-primary-gray100, #f5f5f5);
	--gray-2: var(--mui-palette-primary-gray200, #eeeeee);
	--gray-3: var(--mui-palette-primary-gray300, #e0e0e0);
	--gray-4: var(--mui-palette-primary-gray400, #bdbdbd);
	--gray-5: var(--mui-palette-primary-gray500, #9e9e9e);
	--gray-6: var(--mui-palette-primary-gray600, #757575);
	--gray-7: var(--mui-palette-primary-gray700, #616161);
	--gray-8: var(--mui-palette-primary-gray800, #424242);
	--gray-9: var(--mui-palette-primary-gray900, #212121);

	--font-sans: Roboto, -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', sans-serif;

	--time-out: 250ms;
	--cubic: linear;
	--shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

	--headerHeight: 50px;
}

@media screen and (min-width: 768px) {
	:root {
		--headerHeight: 60px;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	height: 100%;
	box-sizing: border-box;
	touch-action: manipulation;
	font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	font-family: var(--font-sans);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--mui-palette-background-default, #fff);
	color: var(--text-primary);
}

body {
	position: relative;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

.ReactModal__Body--open {
	overflow: hidden;
}

a,
a:active,
a:hover {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

button {
	background: none;
	border: none;
}

.ReactModal__Body--open {
	position: fixed;
	width: 100%;
	overflow-y: scroll;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
