@import '@/styles/variables.scss';

.bannerContainer {
	position: relative;

	width: 100%;
	height: 400px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	gap: 10px;
	padding: 10px;

	background-color: var(--gray-0);
	background-position: center;
	object-fit: contain;

	color: var(--contrastText);

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		background-color: rgb(0, 0, 0, 0.3);
	}

	& > * {
		z-index: 1;
	}

	@media screen and (min-width: $tableUpper) {
		height: 700px;
		padding: 30px;

		gap: 30px;
	}
}

.hero {
	@extend .bannerContainer;
	background-image: url('/backgrounds/1.jpg');

	.logo {
		font-family: var(--fontLogo);
		font-size: 60px;
	}
}

.banner {
	@extend .bannerContainer;

	margin-top: 20px;
	background-image: url('/backgrounds/4.jpg');
	background-position: right;
	height: 400px;

	@media screen and (min-width: $tableUpper) {
		margin-top: 30px;
		padding: 0 20%;
	}
}

.imageLint1 {
	@extend .bannerContainer;
	height: auto;
	align-items: center;

	background-image: url('/backgrounds/2.jpg');
}

.imageLint2 {
	@extend .bannerContainer;
	height: auto;
	align-items: center;

	background-image: url('/backgrounds/3.jpg');
	background-position: top right;
}

.margin {
	margin: 20px 0;

	@media screen and (min-width: $tableUpper) {
		margin: 30px 0;
	}
}

.slogan {
	width: fit-content;
	white-space: pre-wrap;
}

.priceLinks {
	display: flex;
	gap: 24px;
	justify-content: center;
	margin: 20px 0;

	@media screen and (min-width: $tableUpper) {
		margin: 30px 0;
	}
}

.center {
	margin: 0 auto;
}
